<nav class="nav-menu">
    <ul>
      <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
      
    </ul>
  </nav>
<div class="product-list">
    <h2>Lista de Productos</h2>
    <table>
      <thead>
        <tr>
          <th>Código</th>
          <th>Nombre</th>
          <th>Precio</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <td>{{ product.codigo }}</td>
          <td>{{ product.nombre }}</td>
          <td>{{ product.precio }}</td>
          <td>
            <button (click)="editProduct(product)" class="edit-button">Editar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
  